<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <script>
  function updateImage() {
    var catView = document.getElementById("cat-view")
    var myRequest = new Request('flowers.jpg');
    fetch('get_a_cat/', {
      method: 'GET',
      credentials: 'same-origin',
      redirect: 'follow',
    })
    .then(response => response.blob())
    .then(function(myBlob) {
      console.log(myBlob)
      catView.src = URL.createObjectURL(myBlob);
    });
  }

  function openUploadDialog() {
     document.getElementById("catFile").click();
  }

  function showUploadedImage(event) {
     var catView = document.getElementById("cat-view")
     catView.src = URL.createObjectURL(event.target.files[0]);
     document.getElementById("catSaveButton").disabled = false;
     document.getElementById("catSaveButton").innerHTML = "Save";
  }

  function nowDoThis() {
     var formData = document.getElementById("catFile")

     console.log("NICE");
     console.log(formData.value)

     document.getElementById("catSaveButton").disabled = true;
     document.getElementById("catSaveButton").innerHTML = "Thank you";
     formData.value = ""
  }


  </script>

  <body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Meow App!</h1>
            <p class="lead" id="theNotifier">Here is a nice cat photo for you</p>
            <p class="lead">
            <div style="width:500px; height:500px">
                <img src="https://placekitten.com/g/400/400" class="img-thumbnail" id="cat-view" width="500px">
            </div>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="#" onclick="updateImage()" role="button">Show Another Cat</a>
            </p>
            <p class="lead">
                <input id='catFile' type='file' accept="image" hidden onchange="showUploadedImage(event)"/>
                <button class="btn btn-primary btn-sm" type="button" id="catUploadButton" onclick="openUploadDialog()">Select image to upload</button>
                <button class="btn btn-primary btn-sm" type="button" id="catSaveButton" onclick="nowDoThis()" disabled="true">Save</button>
            </p>
        </div>
    </div>
  </body>
</html>
