<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Meow App!</h1>
            <p class="lead">Here is a nice cat photo for you</p>
            <p class="lead">
            <img src="https://placekitten.com/g/400/400" class="img-thumbnail">
            <p class="lead">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Show Another Cat</a>
                <a class="btn btn-secondary btn-lg" disabled>Submit Image</a>
            </p>
        </div>
    </div>
  </body>
</html>
